
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
user-data
tests/e2e-old1.spec.ts
tests/e2e-old.spec.ts
tests/UIBasics.spec.js
tests/pdp.spec.js
tests/client.spec.js